<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/p/Navdeep-Kandra-100085390907926/"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/jrntr/?hl=en"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/@navdeepkandra8894"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">&copy; AgriOn Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>